<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/colecciones</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="Direccion.hbm.xml" />
        <mapping resource="Nombre.hbm.xml" />
        <mapping resource="CorreoElectronico.hbm.xml" />
        <mapping resource="Profesor.hbm.xml" />
        <mapping resource="Municipio.hbm.xml" />
    </session-factory>
</hibernate-configuration>
